@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

html {
    scroll-behavior: smooth;
}

p,
h1,
h2,
h3,
h4,
h5,
span {
    font-family: monospace;
}

/* CSS-Keyboard */
.container {
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 5%);
    position: absolute;
    height: 100vh;
    flex-direction: column;
    margin: 0 10px;
}

.keyboard_wrapp {
    max-width: 1008px;
    border: 2px solid var(--primaryColor);
    border-radius: 1.87%;
    box-shadow: 10px 0px 134px 48px rgba(0,0,0,0.75);
    width: 100%;
    background-color:var(--bgColor);
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
}

.row {
    display: flex;
}

.keys {
    border-radius: 7.187%;
    width: 60px;
    height: 60px;
    background-color:var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 6px;
    transition: .2s;
    z-index: 5;
}

.backspace_key {
    width: 120px;
}

.tab_key {
    width: 90px;
}

.slash_key {
    width: 90px;
}

.caps_lock_key {
    width: 128px;
}

.enter_key {
    width: 120px;
}

.shift_key {
    width: 124px;
}

.space_key {
    max-width: 600px;
    width: 100%;
}

.text {
    max-width: 1008px;
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    border: none;
    outline: none;
    font-size: 26px;
    background-color: #f7f7f7;
    padding-left: 10px;
    transition: .2s;
}

.keys.active {
    background-color: #333;
    color: #fff;
}

.keys.remove {
    animation: keys_animation 0.5s forwards;
}

body {

    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;

}

main {
    width: 1400px;
    margin: auto;
    padding: 10px;
    height: 100vh;
    padding-top: 50px;

}

h1 {
    color: var(--textPrimary);


}

h1 svg {
    width: 40px;
    fill: var(--primaryColor);
}
button{
    transition: all 0.1s ease;
}
button:hover{
    filter: brightness(90%);
}



:root {

    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #39cccc;
    --base: 0.6rem;
}





.typrusheader {
    background-color: rgb(235, 235, 235);
    width: 100%;
    height: 200px;
}

.headercontent {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 1400px;
    padding: 10px;
    margin: auto;
    height: 200px
}

header button {
    width: 180px;
    height: 50px;
    border: 0;
    background-color: var(--primaryColor);
    color: white;
    margin-left: 5px
}

header button h3 {
    margin: auto;
    font-weight: 700;

}


.left {
    width: 50%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.right {
    width: 50%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-right: 10px;
}

.carousel-item img {
    height: auto;
    width: 100%;
}

.carousel-inner {
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    height: 55vh;
    width: 100%;
}



#header {

    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px 6px 30px;
}

#buttons {

    text-align: right;
}

#timer {
    color: var(--primaryColor);
}

button {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, .5);
    padding: 5px 20px;
    cursor: pointer;
}

/*Overflow hidden ist hier wichtig damit wird nicht alles angezeigt sondern nur ein Teil*/
div#game {
    line-height: 35px;
    height: 105px;
    overflow: hidden;
    position: relative;
}

div#game:focus {
    outline: 0;
}

#words {
    filter: blur(5px);
    color: var(--textSecondary);
}

/* Hier ist wenn es nicht mehr gefokust ist, es verblasst für fancy shit und so */
#game:focus #words {
    filter: blur(0);

}

/*  Hier wird der Text ausgegeben wenn blur aktiv ist */
#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding: 35px;
}

#game:focus #focus-error {
    display: none;
}

div.word {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;


}

.letter.correct {
    color: var(--primaryColor);
}

.letter.skipped {
    text-decoration: #f55 wavy underline;

}

.letter.incorrect {
    color: #f55;
}

/*Eigenschaften des Cursors*/
#cursor {
    display: none;
    width: 3px;
    height: 1.6rem;
    background-color: var(--textPrimary);
    position: fixed;
    top: 185px;
    left: 47px;
    animation: blink 1s infinite;
}

/* Ist damit Cuurosr nicht mehr angezeigt wird wenn Blur da ist bzw. kein Fokus mehr ist*/
#game:focus #cursor {
    display: block;
}

.typer-deck {
    width: 100%;
    background-color: var(--bgColor);
    color: var(--textPrimary);
}

.facts {
    height: 200px;
    width: 1400px;
    margin: auto;
    justify-content: center;
    display: flex;
    padding: 10px;
    margin-top: 40px;
}

.box {
    height: 150px;
    width: 400px;
    float: left;
    background-color: #f5f5f5;
    margin-left: 20px;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.box_fact {
    color: var(--primaryColor);
    font-weight: 600;
    display: flex;
    margin-bottom: 0px;

}

.description {
    margin-top: -5px;
    color: var(--textSecondary);
    font-size: 20px;
}

.arrow {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.arrow img {
    margin-bottom: 10px;
}

.arrow p {
    display: flex;
    margin-bottom: 0px;
    color: var(--textSecondary);
    font-size: 23px;
}



.headercontent {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 1400px;
    padding: 10px;
    margin: auto;
    height: 200px
}

header button h3 {
    margin: auto;
    font-weight: 700;

}

.left {
    width: 50%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
}

.right {
    width: 50%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    padding-right: 10px;
}


.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    width: 800px;
    max-width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

.card-header {
    background: linear-gradient(135deg, #3498db, #9b59b6);
    color: #fff;
    border-radius: 15px 15px 0 0;
    text-align: center;
    padding: 20px 0;
    font-size: 36px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    color: #5e5d5d;
    font-size: 1rem;
}

.btn-primary {
    background: linear-gradient(135deg, #3498db, #9b59b6);
    border: none;
    border-radius: 15px;
    transition: background 0.3s, transform 0.3s;
    color: #fff;
    font-size: 20px;
    padding: 15px;
}

.btn-primary:hover {
    background: linear-gradient(135deg, #2980b9, #8e44ad);
    transform: scale(1.05);
}

.tab-content {
    position: relative;
    animation: slide 0.5s forwards;
}

.button_change_color {
    margin-top: 10px;
    /* Oben Abstand für den Button hinzufügen */
    padding: 5px 10px;
    /* Innenabstand für den Button */
    cursor: pointer;
    /* Zeige den Mauszeiger als Zeiger an */
}

.user_high_score {
    width: 50%;
    display: flex;
    flex-direction: column;
    float: left;
}

.global_high_scores {
    width: 50%;
    float: left;
}

.content {
    width: 1400px;
    margin: auto;
}

.table_2_itemes {
    display: flex;
    justify-content: center;
}

input[type="color"] {
    vertical-align: middle;
}

#color-selector {
    margin-top: 20px;
    /* Füge oberen Abstand hinzu */
}

/* Stil für Labels und Eingabefelder */
#color-selector label {
    display: inline-block;
    /* Stellt die Labels als Blocks nebeneinander dar */
    width: 150px;
    /* Breite der Labels */
    margin-bottom: 10px;
    /* Unteren Abstand zwischen den Labels hinzufügen */
}


/* Style for the welcome message */
#welcomeMessage {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
}

/* Style for user stats section */
#userStats {
    float: left;
    width: 680px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 10px;
}

/* Style for global high scores section */
#globalHighScores {
    float: left;
    width: 680px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    margin: 10px;
}

/* Style for the country placement message */
#countryPlacement {
    clear: both;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
}


.popupwindow {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 100;
    margin: auto;
    border-radius: 5px;
    max-height: 95vh;
    max-width: 95vh;
    opacity: 0;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    display: none;


}

.popup_show {
    display: block;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.finished_popup {
    width: 900px;
    height: 840px;
    background-color: #333741;
    padding-left: 50px;
    padding-right: 50px;
}

.finished_headline {
    display: flex;
    justify-content: center;

}

.finished_popup_ranking {
    display: flex;
    flex-direction: row;
}

.part_50p {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.part_50p h1 {
    margin-bottom: 0;
}

.part_50p p {
    margin-top: 5px;
}

.part_50p span {
    font-size: 1.3rem;
}

.mb20 {
    margin-bottom: 20px;
}

.fr {
    float: right;
}

.button_normal {
    padding: 10px;
    color: white;
    background-color: #1c2029;
    font-size: 1rem;
}


.mt20 {
    margin-top: 20px;
}
.userStats_highscoretable{
    width: 100%;
    height: 400px;
}
.userStats_highscoretable_header{
    height: 40px;
    display: flex;
    flex-direction: row;
}
.userStats_highscoretable_header button{
    background-color: var(--primaryColor);
    color: white;
    margin-right: 2px;
    transition: all 0.1s ease;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;


}
.userStats_highscoretable_content{
    overflow-y: auto;
    height: 351px;
    overflow-x: hidden;
    overflow-y: auto;
}

.highscore_entry_block{
    height: 45px;
    background-color: #eeeded;
    border-bottom: 0.5px solid #ccc;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.highscore_entry{
    width: 16.66666666%;
}
.highscore_entry p{
    font-size: 1.1rem;
    margin-bottom: 0;
    margin: auto;
    text-align: center;
}
#highsorce_entry_title{
    font-weight: 800;
    height: 36px;
}
.container_100p{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
#userStats_profile_pic{
    height: 200px;
}
.container_content{
    padding: 10px;
}
.content_60p{
    width: 60%;
    float: left;
    padding: 5px;
}
.content_40p{
    width: 40%;
    float: left;
}
#profile_pic_view{
    display: flex;
    height: 170px;
    align-items: center;
    flex-direction: column;
}
.userStats_profilePic_Picture{
    width: 120px;
    height: 120px;
    margin: auto;
}
#userStats_profile_pic img{
    height: 120px;
    width: 120px;
    border-radius: 60px;
    object-fit: cover;
    margin: auto;
}
.userStats_profilePic_button_change{
    width: 250px;
    height: 30px;
}
.userStats_profilePic_button_change button{
    width: 100%;
    height: 35px;
    background-color: var(--primaryColor);
    color: white;
    transition: all 0.1s ease;
}

.uploadbox{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    background-color: #dfe3de;
}

.uploadtext{
    margin-top: 10px;
    padding: 10px;
}
.uploadbutton{
    margin-top: auto;
    width: 150px;
    margin-top: 50px;
    margin-left: 180px;
    color: #dbd9d5;
}
.uploadbox img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    display: flex;
    border-radius:75px;
}
.profile_pic_new_submit{
    background-color: var(--primaryColor);
    width: 200px;
    color: white;
    font-weight: 900;
    margin-top: 8px;
    float: right;
    border-radius: 5px;
    transition: all 0.1s ease;
}
.uploadbox button{
    margin-left: 180px;
    margin-top: 50px;
    
}
.profile_pic_new_submit{
    filter: brightness(90%);

}
.bgred{
    background-color: rgb(219, 20, 20)!important;
}
#profile_pic_new_delete
{
    margin-right: 5px;
}
.link_nodec{
    text-decoration: none;
}
.userStats_highscoretable_content{
    
}















@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}


/*  Ist damit der Curos blinkt */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes keys_animation {
    0% {
        background-color: #333;
        color: #fff;
    }

    100% {
        background-color: #fff;
        color: #000;
    }
}
