@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&display=swap');

:root {
    --bgColor: #333;
    --textPrimary: #fff;
    --textSecondary: #666;
    --primaryColor: #39cccc;
}

.material-symbols-outlined {
    justify-content: center;
    align-items: center;
    display: flex;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bgColor);
    color: var(--textPrimary);
    font-size: 1.4rem;
}

main {
    width: 1400px;
    margin: 35px auto;
}

h1 {
    color: var(--textPrimary);
}

h1 svg {
    width: 40px;
    fill: var(--primaryColor);
}

#buttons {
    text-align: right;
    margin-bottom: 20px;
}

#timer {
    color: var(--primaryColor);
}

button:hover {
    box-shadow: 0 0 20px var(--primaryColor);
}

button::before {
    position: absolute;
    inset: 2px;
}

button span {
    position: relative;
    z-index: 1;
}

div#game {
    line-height: 35px;
    height: 150px;
    float: left;
    overflow: hidden;
    position: relative;
}

#words {
    filter: blur(5px);
    color: var(--textSecondary);
}

div.word {
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
    margin: 0 5px;
}

.letter.correct {
    color: var(--primaryColor);
}

.letter.skipped {
    text-decoration: #f55 wavy underline;
}

.letter.incorrect {
    color: #f55;
}

/* When game is in focus, words are clear */
#game:focus #words {
    filter: blur(0);
}

/* The focus-error element */
#focus-error {
    position: absolute;
    inset: 0;
    text-align: center;
    padding: 35px;
}

/* When game is in focus, focus-error is hidden */
#game:focus #focus-error,
#game.over #focus-error {
    display: none;
}

/* The cursor element */
#cursor {
    display: none;
    width: 3px;
    height: 1.6rem;
    background-color: var(--textPrimary);
    position: fixed;
    top: 185px;
    left: 47px;
    animation: blink 1s infinite;
}

/* When game is in focus, cursor is displayed */
#game:focus #cursor {
    display: block;
}

/* When game is over and in focus, cursor is hidden */
#game.over:focus #cursor {
    display: none;
}

/* When game is over, apply blur and reduce words opacity */
#game.over {
    filter: blur(5px);
}

#game.over #words {
    opacity: 0.5;
    filter: blur(0px);
}

/* Animation for cursor blink */
@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#game.start {
    filter: none;
}

.typer_head_lang_time {
    display: flex;
    justify-content: center;
}

.typer_head_lang_time button {
    background-color: rgba(255, 255, 255, .2);
    border: none;
    border-radius: 5px;
    color: rgba(255, 255, 255, .5);
    padding: 5px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.typer_head_lang_time select {
    background-color: rgba(255, 255, 255, .2);
    color: rgba(255, 255, 255, .5);
}

#languageSelect option {
    background-color: #4d4d4d;
    /* Hintergrundfarbe der Optionen */
    color: white;
    /* Textfarbe der Optionen */
    width: 100%;
}

#languageSelect {
    width: 150px;
}

@media (max-width: 1500px) {
    main {
        width: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }
}
